.container {
  width: 40%;
  // border: 1px solid red;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.name {
  // color: white;
  // font-size: 34px;
  color: white;
  font-family: 'Courier New', Courier, monospace !important;
  display: flex;
  align-items: baseline;
}
.first {
  font-size: 50px;
  font-weight: bold;
}
.last {
  // margin-top: -10px;
  font-size: 20px;
  margin-left: 5px;
}
.role {
  margin-top: 10px;
  color: rgb(201, 199, 199);
  font-size: 24px;
}
.des {
  color: rgb(182, 181, 181);
  font-size: 20px;
  margin-top: 20px;
}
.location {
  color: white;
  font-size: 24px;
  margin-top: 30px;
}
