.container {
  width: 40%;
  // border: 1px solid red;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.name {
  color: white;
  font-size: 34px;
}
.role {
  margin-top: 10px;
  color: rgb(201, 199, 199);
  font-size: 24px;
}
.des {
  color: rgb(182, 181, 181);
  font-size: 20px;
  margin-top: 20px;
}
.location {
  color: white;
  font-size: 24px;
  margin-top: 30px;
}
.flip {
  font-size: 36px;
  height: 58px;
  overflow: hidden;
  color: rgb(155, 151, 151);
}

.flip > div > div {
  color: #fff;
  padding: 4px 10px;
  height: 58px;
  margin-bottom: 40px;
  display: inline-block;
}

.flip div:first-child {
  animation: show 5s linear infinite;
}

.flip div div {
  background: #42c58a;
}
.flip div:first-child div {
  background: #4ec7f3;
}
.flip div:last-child div {
  background: #dc143c;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
