.container {
  width: 500px;
  height: auto;
  border-radius: 8px;
  background-color: white;
  margin-left: 20px;
  padding: 10px;
}
.name {
  font-weight: bold;
  font-size: 20px;
}
.star {
  margin-top: 0px;
}
.des {
  margin-top: 10px;
  font-style: italic;
}
