.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  
}
.img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.label {
  color: gray;
  margin-left: 10px;
}

.label:hover{
    color: white;
    cursor: pointer;
}