.container {
  width: 100%;
  height: 200px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box {
//   width: 200px;
//   border: 1px solid red;
  cursor: pointer;
}

.box svg:hover path {
  stroke: rgb(55, 240, 250);
}
