@import url("https://fonts.googleapis.com/css?family=Nunito");

:root{
  --font: "Nunito";
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font);
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
