.container {
}
.heading {
  font-size: 24px;
  padding: 10px;
  //   font-weight: bold;
  background-color: black;
  color: white;
}

.box {
//   border: 1px solid red;
  width: 100%;
  height: 94vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: gray;
}
.leftBox {
  width: 25%;
  height: 95%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
}
.rightBox {
  width: 70%;
  height: 95%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
  padding: 10px;
}
